parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method ReflectionMethod\:\:getAnnotation\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/di/AnnotatedClassMethods.php
